body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: ivory;
}

.jumbotron {
  background-color: #F0EAD6;
  text-align: center;
  padding: 2%;
}

.card {
  margin: 0 auto;
  margin-bottom: 10px;
  max-width: 70%;
  text-align: center;
  background-color: #F8F8FF;
}

#onLoad {
  text-align: center;
}

#findDoc {
  margin-bottom: 3%;
}

#append {
  margin-left: 10%;
  margin-right: 10%;
}

.form-control {
  margin-bottom: 1%;
}

.outputCard {
  width: 23%;
  padding: 1%;
  margin: .75%;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.docName {
  font-size: larger;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2px;
}