body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F5F5F5;
}

.jumbotron {
  background-color: white;
  text-align: center;
}

#onLoad {
  text-align: center;
}

#findDoc {
  margin-bottom: 3%;
}

#append {
  margin-left: 10%;
  margin-right: 10%;
}

.form-control {
  margin-bottom: 1%;
}